/* background */
body {
  background: url('img/thumb-1920-984249.jpg') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.container {
  width: 80%;
  max-width: 950px;
  padding: 30px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1000px);
  color: white;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

}

.header {
    padding: 5px;
    font-size: large;
}

.header ul li{
    display: inline-block;
    margin-top: 1px;
    margin-right: 10px;
}

.header a {
    text-decoration: none;
    color: rgb(125, 5, 5);
    padding: 3px;
}

.header a:hover {
    color: rgb(255, 158, 158);
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.left img {
  width: 260px;
  height: 340px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.right {
  max-width: 650px;
}

.right h1 {
  font-size: 50px;
  margin-bottom: 0px;
  color: rgb(125, 5, 5);
}

.right h3 a {
  font-size: 18px;
  font-weight: 100;
  display: inline-block;
  margin-bottom: 10px;
  color: rgb(125, 5, 5);
}
.right h3 a:hover {
  color: white;
}


.right p {
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 25px;
  color: white;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.buttons a {
  color: white;
  text-decoration: none;
  font-size: 13px;
  opacity: 0.8;
}

.buttons button {
  color: rgb(125, 5, 5);
  background-color: white;
  border: none;
  border-radius: 20px;
  padding: 8px 18px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.buttons a{
  color: rgb(125, 5, 5);
}

.buttons a:hover{
  color: rgb(255, 158, 158);
}

.buttons button:hover {
  background-color: rgb(177, 177, 177);
}