
nav{
    background-color: indigo;
}
.jumbotron{
    padding-top: 5rem;
    background-color: #e3d5eb  ;
}
#project{
    background-color: #e3d5eb;
}
footer{
    background-color: indigo;
}
section{
    padding-top: 5rem;
}