body{
    background-color: aqua;
    font-family: Georgia;
}
h1{
    color: darkblue;
    font-size: 60px;
    font-family: Comic Sans MS;
}
h4{
    text-align: end;
    font-style: italic;
}
.sosmed{
    color: white;
}
p{
    text-align: center;
}
.p1{
    color: brown;
}